.ajuste {
  padding: 0.5rem 5rem;
}
.div-titulo {
  margin-top: 1rem;
}
p {
  margin: 1rem 3rem;
  font-weight: bold;
  font-size: 30px;
  color: rgb(16, 83, 160);
}

.btn_buscar {
  margin: 1rem;
  width: 98.5%;
}

.table-container {
  overflow: auto;
  max-width: 100%;
}

.mat-header-cell,
.mat-cell {
  white-space: nowrap;
}
table {
  margin: 1rem 0 5rem 0;
}
