.ajuste {
  padding: 0.5rem 5rem;
}
.div-titulo {
  margin-top: 1rem;
}
p {
  margin: 1rem 3rem;
  font-weight: bold;
  font-size: 30px;
  color: rgb(16, 83, 160);
}

.btn_buscar {
  margin: 1rem;
  width: 98.5%;
}

.table-container {
  width: auto;
  max-width: 122rem;
  overflow-x: auto; // cria scroll horizontal se precisar
}

.ajusteItem {
  margin: 2rem 5rem;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0; // sem margens que empurram a tabela
  overflow-x: auto;
}
table tr {
  //width: 100%;
  padding: 0;
  margin: 0;
}

table td,
table th {
  border: solid 1px rgb(207, 207, 207);
  padding: 0.5rem;
  margin: 0;
}
.mat-header-cell,
.mat-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
