<div class="ajuste">
  <div class="row div-titulo">
    <div class="col-11">
      <p class="text-left text-primary">Central de Serviços</p>
    </div>
    <div class="col-1 d-flex justify-content-center align-items-center">
      <button class="btn btn-primary" routerLink="/selecaodeservicos">
        Voltar
      </button>
    </div>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Filtro de busca
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>CPF</mat-label>
                <input
                  matInput
                  formControlName="cpf"
                  mask="000.000.000-00"
                  placeholder="000.000.000-00"
                />
                <mat-error *ngIf="form.get('cpf')?.hasError('required')">
                  CPF é obrigatório
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" />
                <mat-error *ngIf="form.get('nome')?.hasError('required')">
                  Nome é obrigatório
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>SR</mat-label>
                <mat-select formControlName="sr">
                  <mat-option *ngFor="let item of srList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Estado (UF)</mat-label>
                <mat-select
                  formControlName="uf"
                  (selectionChange)="carregarMunicipios($event)"
                >
                  <mat-option
                    *ngFor="let estado of estados"
                    [value]="estado.id"
                  >
                    {{ estado.nome }} ({{ estado.sigla }})
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Município</mat-label>
                <mat-select formControlName="municipio">
                  <mat-option
                    *ngFor="let municipio of municipios"
                    [value]="municipio.id"
                  >
                    {{ municipio.nome }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Projeto de Assentamento</mat-label>
                <input matInput formControlName="projetoDeAssentamento" />
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Número do Requerimento</mat-label>
                <input matInput formControlName="numeroDoRequerimento" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Data do Requerimento</mat-label>
                <input
                  matInput
                  formControlName="dataDoRequerimento"
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full col-4">
                <mat-label>Tipo de Serviço</mat-label>
                <mat-select formControlName="tipoDeServico">
                  <mat-option *ngFor="let tipo of tiposServico" [value]="tipo">
                    {{ tipo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <button
                mat-stroked-button
                color="primary"
                class="col-1 btn_buscar"
                (click)="pesquisar()"
              >
                Pesquisar
                <mat-icon class="me-1">search</mat-icon>
              </button>

              <button
                mat-stroked-button
                color="warn"
                class="col-1 btn_buscar"
                (click)="limpar()"
              >
                Limpar
                <mat-icon class="me-1">clear_all</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row ajuste">
  <div class="col-10"></div>
  <div class="col-2">
    <div>
      <!-- Botão de dropdown para ajustar colunas -->
      <button mat-button [matMenuTriggerFor]="menuColunas">
        <mat-icon>view_column</mat-icon> Ajustar Colunas
      </button>

      <!-- Menu suspenso com checkboxes -->
      <mat-menu #menuColunas="matMenu">
        <mat-checkbox
          *ngFor="let coluna of colunasDisponiveis"
          [(ngModel)]="coluna.visivel"
          (change)="atualizarColunasVisiveis()"
        >
          {{ coluna.label }}
        </mat-checkbox>
      </mat-menu>
    </div>
  </div>
</div>

<div class="table-container mat-elevation-z2 ajuste espaco">
  <table mat-table [dataSource]="dataSource" class="mat-table" matSort>
    <!-- Colunas -->

    <ng-container matColumnDef="numeroRequerimento">
      <th mat-header-cell *matHeaderCellDef>Nº Requerimento</th>
      <td mat-cell *matCellDef="let row">{{ row.numeroRequerimento }}</td>
    </ng-container>

    <ng-container matColumnDef="dataRequerimento">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let row">{{ row.dataRequerimento | date }}</td>
    </ng-container>

    <ng-container matColumnDef="codigoBeneficiario">
      <th mat-header-cell *matHeaderCellDef>Código Beneficiário</th>
      <td mat-cell *matCellDef="let row">{{ row.codigoBeneficiario }}</td>
    </ng-container>

    <ng-container matColumnDef="cpfBeneficiario">
      <th mat-header-cell *matHeaderCellDef>CPF Beneficiário</th>
      <td mat-cell *matCellDef="let row">{{ row.cpfBeneficiario }}</td>
    </ng-container>

    <ng-container matColumnDef="nomeBeneficiario">
      <th mat-header-cell *matHeaderCellDef>Nome Beneficiário</th>
      <td mat-cell *matCellDef="let row">{{ row.nomeBeneficiario }}</td>
    </ng-container>

    <ng-container matColumnDef="cpfConjuge">
      <th mat-header-cell *matHeaderCellDef>CPF Cônjuge</th>
      <td mat-cell *matCellDef="let row">{{ row.cpfConjuge }}</td>
    </ng-container>

    <ng-container matColumnDef="nomeConjuge">
      <th mat-header-cell *matHeaderCellDef>Nome Cônjuge</th>
      <td mat-cell *matCellDef="let row">{{ row.nomeConjuge }}</td>
    </ng-container>

    <ng-container matColumnDef="sr">
      <th mat-header-cell *matHeaderCellDef>SR</th>
      <td mat-cell *matCellDef="let row">{{ row.sr }}</td>
    </ng-container>

    <ng-container matColumnDef="uf">
      <th mat-header-cell *matHeaderCellDef>UF</th>
      <td mat-cell *matCellDef="let row">{{ row.uf }}</td>
    </ng-container>

    <ng-container matColumnDef="projetoAssentamento">
      <th mat-header-cell *matHeaderCellDef>Projeto</th>
      <td mat-cell *matCellDef="let row">{{ row.projetoAssentamento }}</td>
    </ng-container>

    <ng-container matColumnDef="tipoServico">
      <th mat-header-cell *matHeaderCellDef>Tipo de Serviço</th>
      <td mat-cell *matCellDef="let row">{{ row.tipoServico }}</td>
    </ng-container>

    <ng-container matColumnDef="perfilSolicitante">
      <th mat-header-cell *matHeaderCellDef>Perfil</th>
      <td mat-cell *matCellDef="let row">{{ row.perfilSolicitante }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">{{ row.status }}</td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Ações">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngFor="let acao of row.acoes"
            (click)="
              acao.toLowerCase() === 'detalhar'
                ? detalhar(row)
                : acao.toLowerCase() === 'analisar'
                ? analisar(row)
                : acao.toLowerCase() === 'historico' ||
                  acao.toLowerCase() === 'histórico'
                ? historico(row)
                : acao.toLowerCase() === 'cancelar'
                ? cancelar(row)
                : null
            "
          >
            <mat-icon>{{ getIcon(acao) }}</mat-icon>
            <span>{{ acao }}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Cabeçalho e células -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
