<div class="row">
  <form [formGroup]="form" class="ajuste-form">
    <!-- Data Bloqueio -->
    <mat-form-field appearance="outline" class="w-100 col-6">
      <mat-label>Data Bloqueio</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        formControlName="dataBloqueio"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <!-- BLoqueado - Sim / Não -->

    <mat-form-field appearance="outline" class="w-100 col-6">
      <mat-label>Bloqueio?</mat-label>
      <mat-select formControlName="bloqueio">
        <mat-option value="sim">Sim</mat-option>
        <mat-option value="não">Não</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Descrição SubBloqueio -->
    <mat-form-field appearance="outline" class="w-100 col-6">
      <mat-label>Tipo do SubBloqueio</mat-label>
      <input matInput formControlName="descricaoSubBloqueio" />
    </mat-form-field>

    <!-- Situação Análise -->
    <mat-form-field appearance="outline" class="w-100 col-6">
      <mat-label>Tipo de Transação</mat-label>
      <input matInput formControlName="situacaoAnalise" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 col-12">
      <mat-label>Observação</mat-label>
      <textarea matInput rows="4" formControlName="observacoes"></textarea>
    </mat-form-field>
  </form>
</div>
