<div class="ajuste row">
  <cdk-accordion class="example-accordion col-12">
    @for (item of items; track item; let index = $index) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      [expanded]="index === expandedIndex"
    >
      <button
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
      >
        <strong class="titulo-acordeon">{{ item }}</strong>
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </button>
      @if(accordionItem.expanded) {
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <h2 class="titulo">Espelho do Beneficiário</h2>

        <p class="dados">
          <strong>Nome T1:</strong> {{ beneficiario.nome_T1 }}
        </p>
        <p class="dados">
          <strong>Nome T2:</strong> {{ beneficiario.nome_T2 }}
        </p>
        <p class="dados">
          <strong>Projeto:</strong> {{ beneficiario.projeto }}
        </p>
        <p class="dados"><strong>Status:</strong> {{ beneficiario.status }}</p>
      </div>
      }
    </cdk-accordion-item>
    }
  </cdk-accordion>
</div>
<div class="row ajuste">
  <div class="col-11"></div>
  <div class="col-1">
    <button type="button" class="btn btn-primary">
      <strong>Imprimir</strong>
    </button>
  </div>
</div>
