<div class="ajuste row">
  <cdk-accordion class="example-accordion col-12" [multi]="true">
    @for (item of items; track item; let index = $index) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      [expanded]="index === expandedIndex"
    >
      <button
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
      >
        <strong class="titulo-acordeon">{{ item }}</strong>
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </button>
      @if (accordionItem.expanded) {
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        @switch (index) { @case (0) {
        <h2 class="titulo">Espelho do Beneficiário</h2>

        <table>
          <tr class="linha">
            <th><strong>Nome T1</strong></th>
            <th><strong>Nome T2</strong></th>
            <th><strong>Projeto</strong></th>
            <th><strong>Status</strong></th>
          </tr>
          <tr>
            <td>{{ beneficiario.nome_T1 }}</td>
            <td>{{ beneficiario.nome_T2 }}</td>
            <td>{{ beneficiario.projeto }}</td>
            <td>{{ beneficiario.status }}</td>
          </tr>
        </table>
        } @case (1) {
        <h2 class="titulo">Espelho do Projeto</h2>
        <table>
          <tr class="linha">
            <th><strong>Projeto</strong></th>

            <th><strong>Lote</strong></th>
            <th><strong>Situação T1</strong></th>
            <th><strong>Situação T2</strong></th>
            <th><strong>Regularização</strong></th>
            <th><strong>Periodo</strong></th>
          </tr>
          <tr>
            <td>{{ beneficiario.projeto }}</td>
            <td>{{ beneficiario.lote }}</td>
            <td>{{ beneficiario.situacao_T1 }}</td>
            <td>{{ beneficiario.situacao_T2 }}</td>
            <td>{{ beneficiario.regularizacao }}</td>
            <td>{{ beneficiario.periodo_regularizacao }}</td>
          </tr>
        </table>
        } }
      </div>
      }
    </cdk-accordion-item>
    }
  </cdk-accordion>
</div>
<div class="row ajuste nao-imprimir">
  <div class="col-1">
    <button type="button" class="btn btn-primary" (click)="fechar()">
      <strong>Voltar</strong>
    </button>
  </div>
  <div class="col-10"></div>
  <div class="col-1">
    <button type="button" class="btn btn-primary" (click)="imprimir()">
      <strong>Imprimir</strong>
    </button>
  </div>
</div>
