<div class="card-box">
  <div class="card-header"><h5>Dados do Requerimento</h5></div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Solicitante</th>
        <td>{{ getValorOuDefault(data.nomeBeneficiario) }}</td>
      </tr>
      <tr>
        <th>CPF do Beneficiário</th>
        <td>{{ getValorOuDefault(data.cpfBeneficiario) }}</td>
      </tr>
      <tr>
        <th>Número do Requerimento</th>
        <td>{{ getValorOuDefault(data.numeroRequerimento) }}</td>
      </tr>
      <tr>
        <th>Data do Requerimento</th>
        <td>{{ getValorOuDefault(data.dataRequerimento, "Não informada") }}</td>
      </tr>

      <tr>
        <th>Codigo do Beneficiario</th>
        <td>
          {{ getValorOuDefault(data.codigoBeneficiario, "Não informada") }}
        </td>
      </tr>

      <tr>
        <th>Nome do Titular</th>
        <td>
          {{ getValorOuDefault(data.nomeBeneficiario, "Não informada") }}
        </td>
      </tr>

      <tr>
        <th>CPF do Titular</th>
        <td>
          {{ getValorOuDefault(data.cpfBeneficiario, "Não informada") }}
        </td>
      </tr>

      <tr>
        <th>Tipo de Serviço</th>
        <td>{{ getValorOuDefault(data.tipoServico) }}</td>
      </tr>
      <tr>
        <th>SR</th>
        <td>{{ getValorOuDefault(data.sr) }}</td>
      </tr>
      <tr>
        <th>UF</th>
        <td>{{ getValorOuDefault(data.uf) }}</td>
      </tr>
      <tr>
        <th>Projeto de Assentamento</th>
        <td>{{ getValorOuDefault(data.projetoAssentamento) }}</td>
      </tr>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Município</th>
          <th>Projeto de Assentamento</th>
          <th>Número do Lote</th>
          <th>Data de Início da Ocupação</th>
          <th>Anexo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ getValorOuDefault(data.municipio) }}</td>
          <td>{{ getValorOuDefault(data.projeto) }}</td>
          <td>{{ getValorOuDefault(data.numero_lote || data.lote) }}</td>
          <td>{{ getValorOuDefault(data.periodo_regularizacao) }}</td>
          <td>
            <a href="#" target="_blank">
              <mat-icon aria-hidden="false" aria-label="Anexo"
                >attach_file</mat-icon
              >
              documento.pdf
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Observação do Bloqueio</th>
          <th>Situação de Bloqueio</th>
          <th>Tipo de Subbloqueio</th>
          <th>Desbloqueio</th>
          <th>Justificativa do Desbloqueio</th>
          <th>Envio de Arquivo Comprovante</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bloqueio of data.bloqueios">
          <td>{{ getValorOuDefault(bloqueio.descricao_bloqueio) }}</td>
          <td>{{ getValorOuDefault(bloqueio.situacao_analise) }}</td>
          <td>{{ getValorOuDefault(bloqueio.descricao_sub_bloqueio) }}</td>
          <td>{{ getValorOuDefault(bloqueio.desbloqueio_atendido) }}</td>
          <td>{{ getValorOuDefault(bloqueio.descricao_motivo_bloqueio) }}</td>
          <td>
            <a href="#" target="_blank">
              <mat-icon aria-hidden="false" aria-label="Comprovante"
                >attach_file</mat-icon
              >
              comprovante.pdf
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="fechar()">Voltar</button>
  </div>
</div>
