.ajuste {
  margin: 3rem 0 0 3rem;
}
h5 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin: 0.25rem 0;
}

.card-box {
  padding: 1rem;
  border: 1px solid #e0e0e0; // Borda suave
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // Sombra leve
  border-radius: 0.5rem; // Cantos levemente arredondados
  background-color: #fff; // Fundo branco
  margin: 2rem 3rem; // Espaço entre os blocos
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  width: 10rem;
}

.table th {
  background-color: #f9f9f9;
  text-align: left;
}
