.ajuste {
  padding: 50px;
  border-radius: 0.5rem;
  border: solid 1px rgb(231, 229, 229);
  margin: 50px 30px;
}

.ajusteItem {
  padding: 25px;
  border-radius: 0.5rem;
  border: solid 1px rgb(219, 219, 219);
  margin: 25px 5px;
  box-shadow: 10px 5px 5px rgb(206, 206, 206);
}

p {
  font-size: 15px;
  color: black;
  font-weight: normal;
}

strong {
  font-size: 20px;
  color: black;
}

table tr {
  padding: 0;
  margin: 0;
}
