<div class="container-fluid">
  <div class="row ajuste">
    <h1>Histórico</h1>
    <div class="col-12 ajusteItem">
      <table>
        <tr>
          <thead></thead>
        </tr>
        <tr>
          <td><strong>Criado por:</strong></td>
          <td><p>Fulano da Silva - 000.000.000-00</p></td>
        </tr>
        <tr>
          <td><strong>Solicitante: </strong></td>
          <td><p>Inácio de solza da silva</p></td>
        </tr>
        <tr>
          <td><strong>Status:</strong></td>
          <td><p>Em andamento</p></td>
        </tr>
      </table>
    </div>
    <div class="col-12 ajusteItem">
      <table>
        <tr>
          <thead></thead>
        </tr>
        <tr>
          <td><strong>Criado por:</strong></td>
          <td><p>Zeca Miranda - 111.000.000-11</p></td>
        </tr>
        <tr>
          <td><strong>Solicitante: </strong></td>
          <td><p>Julio da silva</p></td>
        </tr>
        <tr>
          <td><strong>Status:</strong></td>
          <td><p>Bloqueado</p></td>
        </tr>
      </table>
    </div>
    <div class="col-12 ajusteItem">
      <table>
        <tr>
          <thead></thead>
        </tr>
        <tr>
          <td><strong>Criado por:</strong></td>
          <td><p>Fulano da Silva - 000.000.000-00</p></td>
        </tr>
        <tr>
          <td><strong>Solicitante: </strong></td>
          <td><p>Inácio de solza da silva</p></td>
        </tr>
        <tr>
          <td><strong>Status:</strong></td>
          <td><p>Encerrado</p></td>
        </tr>
      </table>
    </div>
  </div>
</div>
