<div class="container-fluid">
  <div class="row ajuste">
    <h1>Histórico do PNRA</h1>

    <div class="col-12 ajusteItem">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código do Beneficiário</th>
            <th>Nomes</th>
            <th>Nome do PA</th>
            <th>Situação</th>
            <th>Data da Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of historicoPNRA">
            <td>{{ item.codigo_beneficiario }}</td>
            <td>{{ item.nome.join(", ") }}</td>
            <td>{{ item.nome_PA }}</td>
            <td>{{ item.situacao }}</td>
            <td>{{ item.data_Situacao }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
