<form [formGroup]="formgroup">
  <div class="row espaco_campos">
    <mat-form-field class="col-5" appearance="fill">
      <!--<mat-label>CPF</mat-label>-->

      <input matInput type="text" mask="000.000.000-00" formControlName="cpf" />
    </mat-form-field>

    <mat-form-field class="col-4">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome" />
    </mat-form-field>

    <mat-form-field class="col-3">
      <mat-label>Código do Beneficiário</mat-label>
      <input matInput type="text" formControlName="cod_beneficiario" readonly />
    </mat-form-field>
    <!--
                <button
                  type="button"
                  class="btn btn-primary col-1 mais-dependente-btn"
                  [disabled]="
                    !formgroup.valid ||
                    dependentes.length >= 1 ||
                    cpfIgualAoOriginal
                  "
                  (click)="adicionarDependente()"
                >
                  <mat-label>Incluir Conjuge</mat-label>
                </button>-->

    <mat-form-field class="col-6">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        type="text"
        placeholder="Informe o telefone"
        formControlName="telefone"
      />
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="text"
        placeholder="Informe o email"
        formControlName="email"
      />
    </mat-form-field>
  </div>
</form>
