<form [formGroup]="formgroup">
  <div class="row espaco_campos">
    <mat-form-field appearance="outline" class="col-5" floatLabel="always">
      <mat-label>CPF</mat-label>

      <input matInput type="text" mask="000.000.000-00" formControlName="cpf" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3" floatLabel="always">
      <mat-label>Código do Beneficiário</mat-label>
      <input matInput type="text" formControlName="cod_beneficiario" readonly />
    </mat-form-field>

    <!-- 🔹 Campos novos -->

    <mat-form-field appearance="outline" class="col-3" floatLabel="always">
      <mat-label>Data de Nascimento</mat-label>
      <input
        readonly
        matInput
        [matDatepicker]="pickerNascimento"
        formControlName="data_nascimento"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerNascimento"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerNascimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-5" floatLabel="always">
      <mat-label>Estado Civil</mat-label>
      <input matInput type="text" formControlName="estado_civil" />
    </mat-form-field>

    <mat-form-field class="col-4" appearance="outline" floatLabel="always">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo">
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="F">Feminino</mat-option>
        <mat-option value="O">Outro</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-6" floatLabel="always">
      <mat-label>Nome do Pai</mat-label>
      <input matInput type="text" formControlName="nome_pai" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-6" floatLabel="always">
      <mat-label>Nome da Mãe</mat-label>
      <input matInput type="text" formControlName="nome_mae" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>Nacionalidade</mat-label>
      <input matInput type="text" formControlName="nacionalidade" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>Naturalidade</mat-label>
      <input
        matInput
        type="text"
        formControlName="naturalidade"
      /> </mat-form-field
    ><mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>Número do Documento</mat-label>
      <input matInput type="text" formControlName="numero_documento" />
    </mat-form-field>
  </div>

  <div class="row espaco_campos">
    <mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>Número do NIS</mat-label>
      <input matInput type="text" formControlName="numero_nis" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        type="text"
        placeholder="Informe o telefone"
        formControlName="telefone"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-4" floatLabel="always">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="text"
        placeholder="Informe o email"
        formControlName="email"
      />
    </mat-form-field>
  </div>
</form>
