<form [formGroup]="form">
  <div class="row gx-2 margem_botton">
    <div class="col-3">
      <button
        (click)="adicionarLote()"
        [disabled]="!loteControlesValidos"
        type="button"
        class="btn btn-primary"
      >
        <strong>Novo Lote</strong>
      </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo_lote">
          @for (tipo_lote of tipo_lote; track tipo_lote.value) {
          <mat-option [value]="tipo_lote.value">
            {{ tipo_lote.viewValue }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-label>Area do lote</mat-label>
        <input
          matInput
          placeholder="Informe a área do lote"
          formControlName="area_lote"
        />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-label>numero</mat-label>
        <input matInput value="" formControlName="numero_lote" />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-label>numero do SNCR</mat-label>
        <input matInput value="" formControlName="codigo_SNCR" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Area de denominação da Gleba</mat-label>
        <input matInput value="" formControlName="denominacao_Gleba" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Area de denominação do Lote</mat-label>
        <input matInput value="" formControlName="denominacao_lote" />
      </mat-form-field>
    </div>
  </div>
</form>
