<form [formGroup]="form">
  <div class="row gx-2 margem_botton"></div>

  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Código do Projeto</mat-label>
        <input matInput formControlName="codigoProjeto" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome do Projeto</mat-label>
        <input matInput formControlName="nomeProjeto" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Agrovila Contato</mat-label>
        <input matInput formControlName="agrovilaContato" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Código Contato</mat-label>
        <input matInput formControlName="codigoContato" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Lote Individual Contato</mat-label>
        <input matInput formControlName="loteIndividualContato" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome Lote</mat-label>
        <input matInput formControlName="nomeLote" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Número Lote</mat-label>
        <input matInput formControlName="numeroLote" />
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Código Município COMUNINCRA</mat-label>
        <input matInput formControlName="codigoMunicipioComunincra" />
      </mat-form-field>
    </div>
  </div>

  <div class="row"></div>
</form>
