<form [formGroup]="form">
  <div class="row gx-2 margem_botton">
    <div class="col-3">
      <button
        (click)="adicionarLote()"
        [disabled]="!loteControlesValidos"
        type="button"
        class="btn btn-primary"
      >
        <strong>Novo Lote</strong>
      </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo_lote">
          @for (tipo_lote of tipo_lote; track tipo_lote.value) {
          <mat-option [value]="tipo_lote.value">
            {{ tipo_lote.viewValue }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Area do lote</mat-label>
        <input
          matInput
          placeholder="Informe a área do lote"
          formControlName="area_lote"
        />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>numero</mat-label>
        <input matInput value="" formControlName="numero_lote" />
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>numero do SNCR</mat-label>
        <input matInput value="" formControlName="codigo_SNCR" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Area de denominação da Gleba</mat-label>
        <input matInput value="" formControlName="denominacao_Gleba" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Area de denominação do Lote</mat-label>
        <input matInput value="" formControlName="denominacao_lote" />
      </mat-form-field>
    </div>
  </div>
</form>

<!-- ================== TABELA DE LOTES ================== -->
<div *ngIf="lotes.length > 0">
  <table mat-table [dataSource]="lotes" class="mat-elevation-z8 w-100 mt-3">
    <!-- Tipo -->
    <ng-container matColumnDef="tipo_lote">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <input
          matInput
          [(ngModel)]="lote.tipo_lote"
          [disabled]="!lote.editando"
        />
      </td>
    </ng-container>

    <!-- Área -->
    <ng-container matColumnDef="area_lote">
      <th mat-header-cell *matHeaderCellDef>Área</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <input
          matInput
          [(ngModel)]="lote.area_lote"
          [disabled]="!lote.editando"
        />
      </td>
    </ng-container>

    <!-- Número -->
    <ng-container matColumnDef="numero_lote">
      <th mat-header-cell *matHeaderCellDef>Número</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <input
          matInput
          [(ngModel)]="lote.numero_lote"
          [disabled]="!lote.editando"
        />
      </td>
    </ng-container>

    <!-- SNCR -->
    <ng-container matColumnDef="codigo_SNCR">
      <th mat-header-cell *matHeaderCellDef>SNCR</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <input
          matInput
          [(ngModel)]="lote.codigo_SNCR"
          [disabled]="!lote.editando"
        />
      </td>
    </ng-container>

    <!-- Gleba -->
    <ng-container matColumnDef="denominacao_Gleba">
      <th mat-header-cell *matHeaderCellDef>Gleba</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <input
          matInput
          [(ngModel)]="lote.denominacao_Gleba"
          [disabled]="!lote.editando"
        />
      </td>
    </ng-container>

    <!-- Lote -->
    <ng-container matColumnDef="denominacao_lote">
      <th mat-header-cell *matHeaderCellDef>Lote</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <input
          matInput
          [(ngModel)]="lote.denominacao_lote"
          [disabled]="!lote.editando"
        />
      </td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let lote; let i = index">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="loteSelecionado = lote; indexSelecionado = i"
          class="botao-acoes"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="editarLote(loteSelecionado!)"
        *ngIf="!loteSelecionado?.editando"
      >
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button
        mat-menu-item
        (click)="salvarLote(loteSelecionado!)"
        *ngIf="loteSelecionado?.editando"
      >
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
      </button>
      <button
        mat-menu-item
        *ngIf="indexSelecionado !== undefined"
        (click)="excluirLote(indexSelecionado)"
      >
        <mat-icon>delete</mat-icon>
        <span>Excluir</span>
      </button>
    </mat-menu>

    <!-- Cabeçalho e linhas -->
    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasTabela"></tr>
  </table>
</div>
