.relatorio {
  margin: 5rem 15rem;
}

img {
  width: 7rem;
  height: 7rem;
}

table {
  border: 0;
  margin: 3rem 0;
  border-radius: 2rem;
}

table tr,
td {
  border: 0;
}

.btn-imprimir {
  margin: 0 0 2rem 0;
}
