<div class="principal">
  <div class="container">
    <div class="row" id="container">
      <div class="col-7">
        <div mat-card-image></div>
        <mat-card-content>
          <img
            mat-card-image
            src="https://sso.acesso.gov.br/assets/govbr/img/conta_govbr_v2.jpg"
            class="imagem"
          />
        </mat-card-content>
      </div>

      <div class="col-5">
        <!-- form reativo -->
        <form
          class="login"
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="cpf">Informe o CPF</label>
            <input
              formControlName="cpf"
              type="text"
              mask="000.000.000-00"
              placeholder="000.000.000-00"
              class="form-control"
              id="cpf"
            />
          </div>

          <div class="form-group">
            <label for="senha">Password</label>
            <input
              formControlName="senha"
              type="password"
              class="form-control"
              id="senha"
              placeholder="Informe a senha"
            />
          </div>

          <!-- botão só envia o formulário -->
          <button type="submit" class="btn btn-primary" id="btn-login">
            Entrar
          </button>

          <p>Outras opções:</p>
          <hr />
          <ul>
            <li>
              <a href="#"
                ><i class="pi pi-building-columns"></i> Login com seu banco SUA
                CONTA SERÁ PRATA</a
              >
            </li>
            <li>
              <a href="#"><i class="pi pi-qrcode"></i> Login com QR code</a>
            </li>
            <li>
              <a href="#"><i class="pi pi-mobile"></i> Certificado digital</a>
            </li>
            <li>
              <a href="#"
                ><i class="pi pi-cloud-upload"></i> Certificado digital em
                nuvem</a
              >
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
