<div class="row">
  <div class="col-4 flex justify-center"></div>
  <div class="card flex justify-center ajuste-breadcramb">
    <div class="menu">
      <strong
        ><a
          class="btn btn-light col-auto d-inline-flex align-items-center botao btn_home"
          routerLink="../lista"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon>
          Lista</a
        ></strong
      >
      <strong
        ><a
          class="btn btn-light botao"
          routerLink="Titular"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Titular</a
        ></strong
      >
      <strong
        ><a
          *ngIf="false"
          class="btn btn-light botao"
          routerLink="Titular2"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Titular 2</a
        ></strong
      >
      <strong
        ><a
          *ngIf="false"
          class="btn btn-light botao"
          routerLink="UnidadeFamiliar"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Unidade Familiar</a
        ></strong
      >
      <strong
        ><a
          *ngIf="false"
          class="btn btn-light botao"
          routerLink="Assentamento"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Assentamento</a
        ></strong
      >
      <strong
        ><a
          *ngIf="false"
          class="btn btn-light botao"
          routerLink="Regularizacao"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Regularização</a
        ></strong
      >
    </div>
  </div>
</div>
<div class="conteudo">
  <router-outlet></router-outlet>
</div>
<footer class="footer-fixo row">
  <div class="col-2"></div>
  <div class="col-2">
    <button class="btn btn-primary">
      <strong>Registrar conferencia de dados</strong>
    </button>
  </div>

  <div class="col-2">
    <button class="btn btn-primary">
      <strong>Cruzar com outras fontes</strong>
    </button>
  </div>
  <div class="col-4"></div>
  <div class="col-1">
    <button class="btn btn-primary col-auto d-inline-flex align-items-center">
      <mat-icon class="me-1">done_outline</mat-icon> <strong>Salvar</strong>
    </button>
  </div>
</footer>
