<div class="row">
  <div class="col-4 flex justify-center"></div>
  <div class="card flex justify-center ajuste-breadcramb">
    <div class="menu">
      <strong
        ><a
          class="btn btn-light col-auto d-inline-flex align-items-center botao btn_home"
          routerLink="../lista"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon>
          Lista</a
        ></strong
      >
      <strong
        ><a
          class="btn btn-light botao"
          routerLink="Titular"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Titular 1</a
        ></strong
      >
      <strong
        ><a
          class="btn btn-light botao"
          routerLink="Titular2"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Titular 2</a
        ></strong
      >
      <strong
        ><a
          class="btn btn-light botao"
          routerLink="UnidadeFamiliar"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Unidade Familiar</a
        ></strong
      >
      <strong
        ><a
          class="btn btn-light botao"
          routerLink="Assentamento"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Assentamento</a
        ></strong
      >
      <strong
        ><a
          class="btn btn-light botao"
          routerLink="Regularizacao"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Regularização</a
        ></strong
      >
    </div>
    <!--Breadcrumb e botões avançar, salvar e voltar ocultados com o valor hidden-->
    <!-- <p-breadcrumb
      [model]="items"
      [home]="home"
      class="text-justify text-link"
      hidden
    /> -->
  </div>
</div>
<div class="conteudo">
  <router-outlet></router-outlet>
</div>
<footer class="footer-fixo row">
  <div class="col-1"></div>
  <button
    class="col-1 btn btn-primary"
    [routerLink]="['/lista']"
    (click)="voltar()"
    hidden
  >
    <strong>Voltar</strong>
  </button>
  <div class="col-8"></div>
  <button
    class="btn btn-primary col-1"
    (click)="avancar()"
    *ngIf="!ehUltimaEtapa()"
    hidden
  >
    <strong>Avançar</strong></button
  ><!--
  <button
    class="btn col-1 btn-success col-auto ms-2 col-auto d-inline-flex align-items-center executar_acao_btn"
    *ngIf="exibirBotaoExecutar"
    [disabled]="!executarHabilitado"
    (click)="executarAcao()"
    hidden
  >
    <mat-icon class="me-1">play_arrow</mat-icon> <strong>Executar</strong>
  </button>
  <button
    class="btn btn-primary col-auto d-inline-flex align-items-center"
    *ngIf="ehUltimaEtapa()"
    (click)="salvar()"
    hidden
  >
    <mat-icon class="me-1">done_outline</mat-icon> <strong>Salvar</strong>
  </button>-->
</footer>
