<div class="div-principal">
  <div class="row div-titulo">
    <div class="col-11">
      <p class="text-left text-primary">Modulo Beneficiário</p>
    </div>
    <div class="col-1 d-flex justify-content-center align-items-center">
      <button class="btn btn-primary" routerLink="/selecaodeservicos">
        Voltar
      </button>
    </div>
  </div>

  <div class="row">
    <!--Acordeon-->
    <cdk-accordion class="example-accordion">
      @for (item of items; track item; let index = $index) {
      <cdk-accordion-item
        [expanded]="true"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
      >
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          class="example-accordion-item-header accordion-button"
          (click)="accordionItem.toggle()"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <strong>{{ item }}</strong>
          <span class="example-accordion-item-description">
            Click to {{ accordionItem.expanded ? "close" : "open" }}
          </span>
        </button>
        @if(accordionItem.expanded) {
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
        >
          <form [formGroup]="form">
            <!-- Campos de busca-->
            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Codigo Beneficiario</mat-label>
              <input
                matInput
                #message
                maxlength="256"
                placeholder="Informe o código do Beneficiário"
                formControlName="codigo_beneficiario"
              />
              <mat-hint align="start"> </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>CPF do Beneficiario (T1 / T2)</mat-label>
              <input
                matInput
                #message
                mask="000.000.000-00"
                maxlength="256"
                placeholder="CPF do beneficiario (T1 / T2)"
                formControlName="cpf"
              />
              <mat-hint align="start"> </mat-hint>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="col-4 ajuste_campo_nome"
            >
              <mat-label>Nome do beneficiario (T1 / T2)</mat-label>
              <input
                matInput
                #message
                maxlength="256"
                placeholder="Informe o nome do beneficiario (T1 / T2)"
                formControlName="nome_beneficiario"
              />
              <mat-hint align="start"> </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>SR</mat-label>
              <mat-select multiple formControlName="sr">
                @for (sr of sr; track sr) {
                <mat-option [value]="sr">{{ sr }}</mat-option>
                }
              </mat-select></mat-form-field
            >

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Estados</mat-label>
              <mat-select
                name="uf"
                formControlName="estados"
                (selectionChange)="carregarMunicipiosPorEstado($event.value)"
              >
                @for (estado of estados; track estado) {
                <mat-option [value]="estado.id">{{ estado.sigla }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Municipios</mat-label>
              <mat-select name="municipios" formControlName="municipios">
                @for (municipio of municipios; track municipio) {
                <mat-option [value]="municipio.id">{{
                  municipio.nome
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Projeto de assentamento</mat-label>

              <input matInput formControlName="nome_projeto" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Código do PA</mat-label>

              <input matInput formControlName="codigo_projeto" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Situação</mat-label>

              <mat-select formControlName="situacao">
                @for (situacao of situacao; track situacao) {
                <mat-option [value]="situacao">{{ situacao }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <div class="row">
              <button
                mat-stroked-button
                color="primary"
                class="col-1 btn_buscar"
                (click)="pesquisar()"
              >
                Pesquisar
                <mat-icon class="me-1">search</mat-icon>
              </button>

              <button
                mat-stroked-button
                color="warn"
                class="col-1 btn_buscar"
                (click)="limpar()"
              >
                Limpar
                <mat-icon class="me-1">clear_all</mat-icon>
              </button>
            </div>
          </form>
        </div>
        }
      </cdk-accordion-item>
      }
    </cdk-accordion>
    <br />
    <br />
    <br />
    <!--Final Acordeon-->
  </div>

  <div calss="row"></div>

  <div class="row">
    <div class="col-12">
      <div class="row exporta_e_ajusta_colunas">
        <div class="col-1"></div>
        <div class="col-2">
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            [disabled]="!selection.hasValue()"
          >
            <mat-icon class="me-1">arrow_downward</mat-icon> Exportar
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>table_chart</mat-icon>
              <span>CSV</span>
            </button>
            <button mat-menu-item>
              <mat-icon>picture_as_pdf</mat-icon>
              <span>PDF</span>
            </button>
            <button mat-menu-item>
              <mat-icon>grid_on</mat-icon>
              <span>Excel</span>
            </button>
          </mat-menu>
        </div>

        <div class="col-7"></div>

        <div class="col-2">
          <div>
            <!-- Botão de dropdown para ajustar colunas -->
            <button mat-button [matMenuTriggerFor]="menuColunas">
              <mat-icon>view_column</mat-icon> Ajustar Colunas
            </button>

            <!-- Menu suspenso com checkboxes -->
            <mat-menu #menuColunas="matMenu">
              <mat-checkbox
                *ngFor="let coluna of colunasDisponiveis"
                [(ngModel)]="coluna.visivel"
                (change)="atualizarColunasVisiveis()"
              >
                {{ coluna.label }}
              </mat-checkbox>
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-table table table-striped"
          matSort
        >
          <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              ></mat-checkbox>
            </td>
          </ng-container>

          <!-- SR -->
          <ng-container matColumnDef="SR">
            <th mat-header-cell *matHeaderCellDef>Superintendencia</th>
            <td mat-cell *matCellDef="let element">{{ element.sr }}</td>
          </ng-container>

          <!-- Estado-->

          <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.naturalidade }}
            </td>
          </ng-container>

          <!-- Municipio-->

          <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef>Municipio</th>
            <td mat-cell *matCellDef="let element">
              {{ element.municipio }}
            </td>
          </ng-container>

          <!--Código do PA -->
          <ng-container matColumnDef="codigo_projeto">
            <th mat-header-cell *matHeaderCellDef>Código do PA</th>
            <td mat-cell *matCellDef="let element">
              {{ element.codigo_projeto }}
            </td>
          </ng-container>

          <!-- Projeto -->
          <ng-container matColumnDef="projeto">
            <th mat-header-cell *matHeaderCellDef>Projeto de Assentamento</th>
            <td mat-cell *matCellDef="let element">{{ element.projeto }}</td>
          </ng-container>

          <!-- Código do Beneficiario -->
          <ng-container matColumnDef="cod_beneficiario">
            <th mat-header-cell *matHeaderCellDef>Código do Beneficiario</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cod_beneficiario }}
            </td>
          </ng-container>

          <!-- Nome T1 -->
          <ng-container matColumnDef="nome_T1">
            <th mat-header-cell *matHeaderCellDef>Titular</th>
            <td mat-cell *matCellDef="let element">{{ element.nome_T1 }}</td>
          </ng-container>

          <!-- CPF T1 -->
          <ng-container matColumnDef="cpf_T1">
            <th mat-header-cell *matHeaderCellDef>CPF do Titular</th>
            <td mat-cell *matCellDef="let element">{{ element.cpf_T1 }}</td>
          </ng-container>

          <!-- Situação T1 -->
          <ng-container matColumnDef="situacao_T1">
            <th mat-header-cell *matHeaderCellDef>Situação</th>
            <td mat-cell *matCellDef="let element">
              {{ element.situacao_T1 }}
            </td>
          </ng-container>

          <!-- Nome T2 -->
          <ng-container matColumnDef="nome_T2">
            <th mat-header-cell *matHeaderCellDef>Conjuge</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cpf_conjuge }}
            </td>
          </ng-container>

          <!-- CPF T2 -->
          <ng-container matColumnDef="cpf_conjuge">
            <th mat-header-cell *matHeaderCellDef>CPF do Conjuge</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cpf_conjuge }}
            </td>
          </ng-container>

          <!-- Data da Situação T2 -->
          <ng-container matColumnDef="data_situacao_T2">
            <th mat-header-cell *matHeaderCellDef>Data Situação</th>
            <td mat-cell *matCellDef="let element">
              {{ element.data_situacao_T2 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="pendencias">
            <th mat-header-cell *matHeaderCellDef>Pendencias</th>
            <td mat-cell *matCellDef="let element">
              {{ preencher_pendencias }}
            </td>
          </ng-container>

          <!-- Ações -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  *ngFor="let acao of element.acoes"
                  (click)="executarAcao(acao, element)"
                >
                  <mat-icon *ngIf="acao === 'Detalhar'">visibility</mat-icon>
                  <mat-icon *ngIf="acao === 'Editar'">edit</mat-icon>

                  <mat-icon *ngIf="acao === 'Histórico do Beneficiário'"
                    >history</mat-icon
                  >

                  <mat-icon *ngIf="acao === 'Espelho do Beneficiário'"
                    >picture_as_pdf</mat-icon
                  >

                  <mat-icon *ngIf="acao === 'Operações'"
                    >view_timeline</mat-icon
                  >

                  <span>{{ acao }}</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <!-- Linhas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Mensagem quando não há dados -->
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell"
              [attr.colspan]="displayedColumns.length"
              style="text-align: center"
            >
              Nenhuma informação encontrada
            </td>
          </tr>
        </table>

        <mat-paginator
          [length]="dataSource.data.length"
          [pageSize]="10"
          [pageSizeOptions]="[10, 20]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
