<div class="tela-titular">
  <div class="row">
    <div class="col-12">
      <cdk-accordion class="example-accordion col-12" [multi]="true">
        @for (item of itemsTelas; track item; let index = $index) {
        <cdk-accordion-item
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          [expanded]="index === expandedIndex"
        >
          <button
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index"
          >
            <strong class="titulo-acordeon">{{ item }}</strong>
            <span class="example-accordion-item-description">
              Click to {{ accordionItem.expanded ? "close" : "open" }}
            </span>
          </button>
          @if (accordionItem.expanded) {
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            @switch (index) { @case (0) {
            <div class="col-12" *ngIf="dependentes.length > 0">
              <cdk-accordion class="example-accordion">
                @for (item of itemDependente; track item; let index = $index) {
                <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  class="example-accordion-item"
                  [expanded]="index === expandedIndex"
                >
                  <button
                    class="example-accordion-item-header"
                    (click)="accordionItem.toggle()"
                    tabindex="0"
                    [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index"
                  >
                    <strong> {{ item }}</strong>
                    <span class="example-accordion-item-description">
                      Click para
                      {{ accordionItem.expanded ? "Fechar" : "Abrir" }}
                    </span>
                  </button>
                  @if(accordionItem.expanded) {
                  <div
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index"
                  >
                    <div *ngIf="dependentes.length > 0" class="mt-2">
                      <table
                        mat-table
                        [dataSource]="dependentes"
                        class="mat-elevation-z2 w-100 mt-3"
                      >
                        <ng-container matColumnDef="cpf">
                          <th mat-header-cell *matHeaderCellDef>CPF</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.cpf }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="nome">
                          <th mat-header-cell *matHeaderCellDef>Nome</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.nome }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="acoes">
                          <th mat-header-cell *matHeaderCellDef>Ações</th>
                          <td mat-cell *matCellDef="let element; let i = index">
                            <button
                              mat-icon-button
                              color="primary"
                              (click)="editarDependente(i)"
                            >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button
                              mat-icon-button
                              color="warn"
                              (click)="removerDependente(i)"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </ng-container>

                        <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>
                    </div>
                  </div>
                  }
                </cdk-accordion-item>
                }
              </cdk-accordion>
            </div>

            <form [formGroup]="formgroup">
              <div class="row espaco_campos">
                <mat-form-field class="col-5">
                  <mat-label>Informe o CPF</mat-label>

                  <input
                    matInput
                    type="text"
                    mask="000.000.000-00"
                    placeholder="Informe o CPF"
                    formControlName="cpf"
                    (blur)="validarCpf()"
                  />
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Informe o Nome</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Informe o nome"
                    formControlName="nome"
                  />
                </mat-form-field>

                <mat-form-field class="col-2">
                  <mat-label>Código do Beneficiário</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Informe o nome"
                    formControlName="cod_beneficiario"
                  />
                </mat-form-field>

                <button
                  type="button"
                  class="btn btn-primary col-1 mais-dependente-btn"
                  [disabled]="
                    !formgroup.valid ||
                    dependentes.length >= 1 ||
                    cpfIgualAoOriginal
                  "
                  (click)="adicionarDependente()"
                >
                  <mat-label>Incluir Conjuge</mat-label>
                </button>

                <mat-form-field class="col-6">
                  <mat-label>Telefone</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Informe o nome"
                    formControlName="telefone"
                  />
                </mat-form-field>
                <mat-form-field class="col-6">
                  <mat-label>E-mail</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Informe o nome"
                    formControlName="email"
                  />
                </mat-form-field>
              </div>

              <div class="row espaco_campos">
                <mat-form-field class="col-11">
                  <mat-label>Numero do Processo</mat-label>

                  <input
                    matInput
                    type="tel"
                    placeholder="Informe o numero do processo"
                    mask="000000000/0000"
                    formControlName="numero_processo"
                  />
                </mat-form-field>

                <button
                  type="button"
                  class="btn btn-primary col-1 flex justify-center col-auto d-inline-flex align-items-center text-right text-end ajuste_plus"
                  [disabled]="
                    formgroup.get('numero_processo')?.invalid ||
                    !formgroup.get('numero_processo')?.value
                  "
                  (click)="adicionarProcesso()"
                >
                  Novo Processo
                </button>
              </div>
            </form>

            <div class="col-12" *ngIf="processos.length > 0">
              <cdk-accordion class="acordeonProcessos">
                @for (item of items; track item; let index = $index) {
                <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  class="example-accordion-item"
                  [expanded]="index === processos.length - 1"
                >
                  <button
                    class="example-accordion-item-header"
                    (click)="accordionItem.toggle()"
                    tabindex="0"
                    [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index"
                  >
                    <strong>{{ item }}</strong>
                    <span class="example-accordion-item-description">
                      Click para
                      {{ accordionItem.expanded ? "Fechar" : "Abrir" }}
                    </span>
                  </button>
                  @if(accordionItem.expanded) {
                  <div
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index"
                  >
                    <div *ngIf="processos.length > 0" class="mt-2">
                      <table class="tabela-processos">
                        <tr class="linha-titulo">
                          <th>
                            <p class="titulo-tabela">Processos adicionados</p>
                          </th>
                          <th>Ações</th>
                        </tr>
                        <tr *ngFor="let p of processos">
                          <td class="celula-dados">
                            <p class="dado">{{ p | numeroProcessoSei }}</p>
                          </td>
                          <td>...</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  }
                </cdk-accordion-item>
                }
              </cdk-accordion>
            </div>

            <div class="row ajuste-btns">
              <div class="col-11">
                <button type="button" class="btn btn-primary ajuste_plus">
                  Salvar
                </button>
              </div>

              <div class="col-1"></div>
            </div>

            } @case (1) {

            <!--Unidade Familiar-->
            <app-unidade-familar></app-unidade-familar>
            <!--Unidade Familiar-->
            }@case (2) {

            <!--Regularizacao-->
            <app-assentamento></app-assentamento>
            <!--Regularizacao-->
            }@case (3) {

            <!--Regularizacao-->
            <app-regularizacao></app-regularizacao>
            <!--Regularizacao-->
            } }
          </div>
          }
        </cdk-accordion-item>
        }
      </cdk-accordion>
    </div>
  </div>

  <div class="row"></div>
  <!--botão Salvar e + dependente-->
</div>
<div class="row"></div>
