.ajuste {
  margin: 5rem 5rem 1rem 5rem;
}

button {
  margin: 0.5rem;
}
.text-success {
  color: #2e7d32; /* Verde suave */
}

.text-danger {
  color: #c62828; /* Vermelho suave */
}

.bg-light {
  background-color: #f9f9f9;
}
