<div class="d-flex align-items-center principal">
  <div class="container">
    <h1>PGT - Modulo Beneficiário - Proto</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="text-center">Acesso rápido</h4>
      <br />
      <div class="row text-center">
        <div class="col-12 mb-4 hover-icone">
          <mat-icon>assignment</mat-icon>
          <p>Cidadão</p>
        </div>

        <div class="col-12 mb-4 hover-icone">
          <mat-icon>assignment</mat-icon>
          <p>Analista</p>
        </div>

        <div class="col-12 mb-4 hover-icone">
          <a
            routerLink="/lista"
            class="text-decoration-none text-dark d-block text-center"
            ><span>
              <mat-icon>receipt_long</mat-icon>
              <p>Modulo Beneficiario</p></span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
