<div class="row margem">
  <div class="area_conteudo">
    <form class="container-fluid px-0" [formGroup]="form">
      <div class="row gx-2">
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Data de homologação</mat-label>
            <input
              matInput
              value="24/10/2000"
              formControlName="data_homologacao_1"
            />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Situação do Assentado</mat-label>
            <mat-select formControlName="situacao_titular">
              @for (situacao of situacoesAssentado; track situacao.value) {
              <mat-option [value]="situacao.value">
                {{ situacao.viewValue }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Motivo</mat-label>
            <input matInput placeholder="Motivo" formControlName="motivo" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
