.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.area_conteudo {
  border-radius: 1.5rem;
  padding: 2rem;

  border: 1px solid #e9eaec;
  margin: 0 10rem 15rem 10rem;
  width: 100%;
}

.margem_botton {
  margin-bottom: 1rem;
}
