.area_conteudo {
  border-radius: 1.5rem;
  padding: 2rem;
  border: 0px solid #e9eaec;
  margin: 0 10rem 15rem 10rem;
  width: 100%;
}

h1 {
  font-size: 1.875rem;
  color: rgb(5, 74, 114);
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.campos_checkbox ul li {
  font-weight: bold;
}
