<div class="row">
  <div class="col-2"></div>
  <div class="col-3">
    <p><strong>Codigo do Beneficiario:</strong> RS0193540000456</p>
  </div>
  <div class="col-3">
    <p><strong>Titular: </strong>Joaquim José da Silva, Maria Rocha da Silva</p>
  </div>
  <div class="col-4">
    <p><strong>Projeto:</strong> RS0195000</p>
  </div>
  <div class="col-1"></div>
  <div class="area_conteudo">
    <h1><strong>Regularização</strong></h1>
    <div class="row">
      <div class="col-12">
        <hr />
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3"><strong>Titular 1:</strong> Joaquim José da Silva</div>
      <div class="col-3"><strong>Titular 2:</strong> Maria Rocha da Silva</div>
      <div class="col-5"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
        <hr />
      </div>
    </div>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-3">
          <mat-form-field class="w-100">
            <mat-label>Tipo de Regularização</mat-label>
            <mat-select formControlName="tipo_regularizacao">
              @for (tipo_regularizacao of tipo_regularizacao; track
              tipo_regularizacao) {
              <mat-option [value]="tipo_regularizacao.value">{{
                tipo_regularizacao.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="w-100">
            <mat-label>Detalhe de regularização</mat-label>
            <mat-select formControlName="detalhe_regularizacao">
              @for (detalhe_regularizacao of detalhe_regularizacao; track
              detalhe_regularizacao) {
              <mat-option [value]="detalhe_regularizacao.value">{{
                detalhe_regularizacao.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="w-100">
            <mat-label>Data de regularização</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="data_regularizacao"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field class="w-100">
            <mat-label *ngIf="form.get('inclusao_PNRA')?.value === 'Default'"
              >Selecione uma opção para inclusão ou remoção</mat-label
            >
            <mat-label
              *ngIf="
                form.get('inclusao_PNRA')?.value === 'Separação do casal' ||
                form.get('inclusao_PNRA')?.value === 'Falecimento de Titular' ||
                form.get('inclusao_PNRA')?.value === 'Desistencia do Titular' ||
                form.get('inclusao_PNRA')?.value === 'Evasão do Titular'
              "
              >Remoção por:</mat-label
            >
            <mat-label
              *ngIf="
                form.get('inclusao_PNRA')?.value === 'Pessoa Externa ao PNRA' ||
                form.get('inclusao_PNRA')?.value === 'Beneficiario do PNRA'
              "
              >Inclusao de:</mat-label
            >
            <mat-select formControlName="inclusao_PNRA">
              @for (inclusao_PNRA of inclusao_PNRA; track inclusao_PNRA) {
              <mat-option [value]="inclusao_PNRA.value">{{
                inclusao_PNRA.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Div exibida condicionalmente - Pessoa Externa ao PNRA -->

      <div
        class="row"
        *ngIf="form.get('inclusao_PNRA')?.value === 'Pessoa Externa ao PNRA'"
      >
        <div class="col-12 mb-3">
          <h4><strong>Novo Beneficiário - Externo ao PNRA</strong></h4>
        </div>
        <div class="col-md-4 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Titular</mat-label>
            <input
              matInput
              placeholder="Informe o nome do novo Titular"
              value=""
              formControlName="inclusao_titular"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Unidade Familiar</mat-label>
            <input
              matInput
              placeholder="Informe a Unidade Familiar"
              value=""
              formControlName="inclusao_unidade_familiar"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Assentamento</mat-label>
            <input
              matInput
              placeholder="Informe o nome do assentamento"
              value=""
              formControlName="inclusao_assentamento"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- Div exibida condicionalmente - Beneficiario do PNRA -->

      <div
        class="row"
        *ngIf="form.get('inclusao_PNRA')?.value === 'Beneficiario do PNRA'"
      >
        <div class="col-12 mb-3">
          <h4><strong>Novo Beneficiario - Interno PNRA</strong></h4>
        </div>
        <div class="col-md-3 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Código Titular</mat-label>
            <input
              matInput
              placeholder="Informe o código do novo Titular"
              value=""
              formControlName="cod_titular"
            />
          </mat-form-field>
        </div>

        <div class="col-md-3 mb-3">
          <mat-form-field class="w-100">
            <mat-label>CPF</mat-label>
            <input
              matInput
              placeholder="Informe a Unidade Familiar"
              value=""
              formControlName="cpf_titular2"
            />
          </mat-form-field>
        </div>

        <div class="col-md-3 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Data da União</mat-label>
            <input
              matInput
              [matDatepicker]="picker3"
              formControlName="data_uniao"
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker3"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-3 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Situação Conjugal</mat-label>
            <mat-select formControlName="situacao_conjugal">
              @for (situacao_conjugal of situacao_conjugal; track
              situacao_conjugal) {
              <mat-option [value]="situacao_conjugal.value">{{
                situacao_conjugal.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Div exibida condicionalmente - Separação do casal -->

      <div
        class="row"
        *ngIf="form.get('inclusao_PNRA')?.value === 'Separação do casal'"
      >
        <div class="col-12 mb-3">
          <h4><strong>Destino do Titular Excluído</strong></h4>
        </div>

        <div class="col-md-3 mb-3">
          <mat-form-field class="w-100">
            <mat-label>Destino do Titular Excluído</mat-label>
            <mat-select formControlName="destino_titular_excluido">
              @for (item of destino_titular_excluido; track item.value) {
              <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-md-3 mb-3"
          *ngIf="
            form.get('destino_titular_excluido')?.value ===
            'Titular excluído vai para outro lote vago'
          "
        >
          <mat-form-field class="w-100">
            <mat-label>SR</mat-label>
            <mat-select formControlName="sr">
              @for (item of sr; track item.value) {
              <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-md-3 mb-3"
          *ngIf="
            form.get('destino_titular_excluido')?.value ===
            'Titular excluído vai para outro lote vago'
          "
        >
          <mat-form-field class="w-100">
            <mat-label>Codigo do projeto</mat-label>
            <input
              matInput
              placeholder="Codigo do projeto"
              value=""
              formControlName="cod_projeto"
            />
          </mat-form-field>
        </div>

        <div
          class="col-md-3 mb-3"
          *ngIf="
            form.get('destino_titular_excluido')?.value ===
            'Titular excluído vai para outro lote vago'
          "
        >
          <mat-form-field class="w-100">
            <mat-label>Lote</mat-label>
            <input
              matInput
              placeholder="Numero do Lote"
              value=""
              formControlName="n_lote"
            />
          </mat-form-field>
        </div>
      </div>

      <hr />
      <hr />
      <div class="row campos_checkbox">
        <div class="col-3">
          <label class="example-margin"
            ><strong>Selecione os dependentes que virão também</strong></label
          >
          <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox
                class="example-margin"
                [checked]="task().completed"
                [indeterminate]="partiallyComplete()"
                (change)="update($event.checked)"
              >
                {{ task().name }}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                @for (subtask of task().subtasks; track subtask; let i = $index)
                {
                <li>
                  <mat-checkbox
                    [checked]="subtask.completed"
                    (change)="update($event.checked, i)"
                  >
                    {{ subtask.name }}
                  </mat-checkbox>
                </li>
                }
              </ul>
            </span>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
<!--
<div class="row">
          <div class="col-3">
            <label class="example-margin">Align:</label>
            <mat-radio-group>
              <mat-radio-button class="example-margin" value="after"
                >After</mat-radio-button
              >
              <mat-radio-button class="example-margin" value="before"
                >Before</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            
            <mat-card class="result">
              <mat-card-content>
                <h2 class="example-h2">Result</h2>

                <section class="example-section">
                  <mat-checkbox
                    class="example-margin"
                    [(indeterminate)]="indeterminate"
                    [labelPosition]="labelPosition()"
                    [disabled]="disabled()"
                  >
                    I'm a checkbox
                  </mat-checkbox>
                </section>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
-->
